<header class="bg-indigo-600 mb-3">
    <nav class="mx-auto max-w-7xl px-6 lg:px-8" aria-label="Top">
        <div
            class="flex w-full items-center justify-between border-b border-indigo-500 py-6 lg:border-none"
        >
            <div class="flex items-center">
                <a href="/">
                    <span class="sr-only">Astro Starter</span>
                </a>
                <div class="ml-10 hidden space-x-8 lg:block">
                    <a
                        href="/"
                        class="text-base font-medium text-white hover:text-indigo-50"
                        >Home</a
                    >
                    <a
                        href="/about"
                        class="text-base font-medium text-white hover:text-indigo-50"
                        >about</a
                    >
                </div>
            </div>
        </div>
        <div class="flex flex-wrap justify-center gap-x-6 py-4 lg:hidden">
            <a
                href="/"
                class="text-base font-medium text-white hover:text-indigo-50"
                >Home</a
            >
            <a
                href="/about"
                class="text-base font-medium text-white hover:text-indigo-50"
                >about</a
            >
        </div>
    </nav>
</header>
